.dashboard-header {
    background-color: black;
    overflow: auto;
}

.dashboard-footer {
    background-color: black;
    padding: 15px;
    color: white;
    text-align: left;
}

.center {
    text-align: center;
}

.dashboard-body {
    background-color: #eee;
    overflow: auto;
}

.header-logo {
    float: left;
    padding: 15px 31px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.header-search {
    float: right;
    padding: 15px 27px;
}

.header-search input {
    padding: 5px;
    border-radius: 13px;
    outline: none;
    border: 1px solid white;
}

.car-listing-card {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: auto;
    box-shadow: 4px 4px 4px 4px #00000021;
    cursor: pointer;
}

.car-listing-card:hover {
    opacity: 0.5;
}

.car-list-image {
    height: 150px;
    width: 20%;
    background: #eee;
    float: left;
}

.car-list-image img {
    height: 100%;
    width: 100%;
}

.car-list-discription {
    float: left;
    width: 80%;
    height: 150px;
}

.car-name {
    padding: 10px 15px;
    overflow: auto;
}

.car-name h2 {
    margin: 0;
    float: left;
}

.car-name-detail {
    padding: 10px 15px;
    overflow: auto;
}

.car-name-detail h1 {
    margin: 0;
    float: left;
}

.car-name-detail span {
    float: right;
    width: 50px;
    text-align: center;
    font-weight: 500;
    background: green;
    color: white;
    margin-top: 6px;
    line-height: 21px;
}

.car-name span {
    float: right;
    width: 50px;
    text-align: center;
    font-weight: 500;
    background: green;
    color: white;
    margin-top: 6px;
    line-height: 21px;
}

.car-price {
    padding: 0px 15px;
    font-size: 13px;
}

.car-price h2 {
    margin: 0px;
    font-weight: 400;
}

.car-list-text {
    padding: 6px 15px;
    font-size: 14px;
    color: #685b5b;
}

.car-detail-card {
    width: 80%;
    background-color: white;
    padding: 15px;
    margin: 0 auto;
    margin-top: 3%;
    overflow: auto;
    margin-bottom: 3%;
}

.car-detail-header {
    overflow: auto;
}

.car-detail-image {
    height: 300px;
    width: 40%;
    background: #eee;
    float: left;
}

.car-detail-image img {
    height: 100%;
    width: 100%;
}

.car-detail-area {
    height: 300px;
    width: 60%;
    float: left;
}

.car-sub-images-holder {
    padding: 15px;
}

.car-sub-images {
    width: 30%;
    height: 165px;
    background: #eee;
    float: left;
    margin-right: 3.3%;
}

.car-sub-images img {
    height: 100%;
    width: 100%;
}

.car-information-area {
    padding: 15px;
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
}

.car-information-area h2 {
    margin: 0px 3% 15px;
}

.specification-holder {
    overflow: auto;
}

.specification-box {
    width: 25%;
    margin-left: 3.2%;
    padding: 2%;
    float: left;
    background: #eee;
    margin-top: 15px;
}

.specification-box div {
    font-size: 16px;
    font-weight: 400;
}

.specification-box h4 {
    margin: 0px;
    padding: 6px 0px;
    font-size: 18px;
}

.summary-section {
    margin: 1% 3% 1% 3%;
    background: #eee;
    padding: 2%;
    overflow: auto;
}

.summary-section h3 {
    margin: 0px;
}

.summary-section p {
    margin: 10px 0px 0px;
}

.dashboard-heading {
    background-color: #eee;
    width: 75%;
    margin: 0 auto;
    margin-top: 2%;
}